{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5  text-white">
    <div class="text-center">
        <img src="{% static 'core/images/pic1.jpg' %}" class="img-thumbnail" width="200px" height="100px" alt="profilePic" >
    </div>
    <div class="mx-5 mt-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="mx-4" style="line-height:2rem;">
            <p style="text-indent:100px;">I am <b class="text-warning">Abhinav jaiswal</b>. I am a highly skilled 
                software engineer with expertise in React JS for front-end development and Node JS and Express JS for back-end 
                development. I currently work at<b class="text-warning"> Rao's Infosoft Pvt. Ltd in Bengaluru, India</b>, where I has made significant 
                contributions to several high-profile projects. 
                <br>
                I am also known for my exceptional problem-solving skills, attention to detail, and ability to work efficiently under 
                pressure. I hold a Bachelor's degree in Computer Science and Engineering from <b class="text-warning"> Rajkiya 
                    Engineering College, U.P. , India</b> and has completed several professional certifications. Outside of work, 
                I enjoy reading books on technology and swimming.</p>
        </div>
    </div>
    <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href={% url 'contact' %} class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>
{% endblock  %}