/* font */

.st-font {
    font-family: 'Satisfy'!important;
}

html,body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.i-color {
    color: chartreuse;
}

.ss-color{
    color: silver;
}

.container-fluid{
    height: 100% !important;
}

.nav-link {
    color: whitesmoke !important;
  }
  
  .nav .nav-link:hover {
    color: black;
    background-color: chartreuse;
}

.nav .nav-link.active {
    color: black;
    background-color: orange;
    font-weight: bold;
}