{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>

    <div class="row text-white">
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-react fa-3x i-color"></i>
            <h3 class="mt-1">React js Developer</h3>
            <p class="ss-color">I have experience of several project of react js</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-python fa-3x i-color"></i>
            <h3 class="mt-1">Django Developer</h3>
            <p class="ss-color">I have experience of several project of react js</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-angular fa-3x i-color"></i>
            <h3 class="mt-1">Angular Developer</h3>
            <p class="ss-color">I have experience of several project of react js</p>
        </div>
    </div>

    <div class="row text-white mt-5">
        <div class="col-sm-4 text-center">  
            <i class="fa-brands fa-node-js fa-3x"></i>
            <h3 class="mt-1">React js Developer</h3>
            <p>I have experience of several project of react js</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-python fa-3x"></i>
            <h3 class="mt-1">Django Developer</h3>
            <p>I have experience of several project of react js</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-angular fa-3x"></i>
            <h3 class="mt-1">Angular Developer</h3>
            <p>I have experience of several project of react js</p>
        </div>
    </div>

    <div class="row text-white mt-5">
        <div class="col-sm-4 text-center">  
            <i class="fa-brands fa-node-js fa-3x"></i>
            <h3 class="mt-1">React js Developer</h3>
            <p>I have experience of several project of react js</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-python fa-3x"></i>
            <h3 class="mt-1">Django Developer</h3>
            <p>I have experience of several project of react js</p>
        </div>
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-angular fa-3x"></i>
            <h3 class="mt-1">Angular Developer</h3>
            <p>I have experience of several project of react js</p>
        </div>
    </div>

</div>
{% endblock content %}